<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /aplicacio/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /aplicacio/index.html [L]
</IfModule>
